/* Menu */
.ozmenu ul.ozmenu-nav{display: flex; align-items: center; justify-content: flex-end; padding-left: 0px;}
.ozmenu ul.ozmenu-nav>li{position: relative; float: left; width: auto;}
.ozmenu ul.ozmenu-nav>li a:hover{color: rgb(0, 0, 0) !important;}

/*start btn hover effect*/
.ozmenu ul.ozmenu-nav>li:last-child a{position: relative; overflow: hidden; display: flex; justify-content: center; align-items: flex-end; z-index: 1; transition: all 1s ease;
margin-right: 0; padding: 9px 33px; background: #000; color: var(--bs-white) !important;}
.ozmenu ul.ozmenu-nav>li:last-child a:before, .ozmenu ul.ozmenu-nav>li:last-child a:after{content: ""; height: 500px; width: 500px; position: absolute; z-index: -1;
top: 150%; transition: all 1.4s ease;}
.ozmenu ul.ozmenu-nav>li:last-child a:before{border-radius: 60% 70% 20% 40%; background: var(--main_orange); opacity: 0.2;
animation: water 13s ease-in-out infinite both alternate;}
.ozmenu ul.ozmenu-nav>li:last-child a:after{border-radius: 60% 70% 20% 40%; background: var(--main_orange); opacity: 0.5; animation: water 14s ease-in-out infinite both alternate;}
.ozmenu ul.ozmenu-nav>li:last-child a:hover{background: var(--main_orange); color: white;}
.ozmenu ul.ozmenu-nav>li:last-child a:hover:before, .ozmenu ul.ozmenu-nav>li:last-child a:hover:after{opacity: 1; top: -100%;}
@keyframes water {
0%{transform: rotate(0);}
20%{border-radius: 50% 63% 80% 49%;}
40%{border-radius: 60% 64% 64% 48%;}
60%{border-radius: 80% 63% 51% 49%;}
80%{border-radius: 40% 60% 42% 58%;}
100%{border-radius: 62% 67% 70% 53%; transform: rotate(180deg);}
}
/*end btn hover effect*/

.ozmenu ul li.dropdownitem>a:after{width: 15px; height: 15px; text-align: center; float: right; background-color: #000; content: ""; margin: 8px 0px 0px 3px;
mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="12px" height="12px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path></svg>');
mask-repeat: no-repeat; mask-position: center;}
.ozmenu ul li .dropdown{display:none; position: absolute; min-width: 200px;}
.ozmenu ul.ozmenu-nav .dropdown ul li{float: left; width: 100%;}
.ozmenu ul.ozmenu-nav .dropdown ul li a{padding: 8px 0px; margin: 0;}
.ozmenu ul li.dropdownitem ul li a, .ozmenu ul li.dropdownitem ul li .dropdown ul li a{border-bottom: 1px dotted #eee;}
.ozmenu ul li.dropdownitem ul li:last-child a, .ozmenu ul li.dropdownitem ul li .dropdown ul li:last-child a{border-bottom: 0px !important;}

/* Dropdown + Dropdown */
.ozmenu ul li.dropdownitem ul li a:before, .ozmenu ul li.dropdownitem ul li .nav-dropdown ul li a:after{display: none !important;}
.ozmenu ul li.dropdownitem ul li .nav-dropdown ul li:last-child a{border-bottom: 0px !important;}
.ozmenu ul li.dropdownitem .dropdown ul li.dropdownitem{display: inline-block; height: 100%; position: relative; width: 100%;}

/* Responsive Menu */
.menu-close, .menu-open{display: none;}

@media screen and (max-width: 1199px) {
.menu-open,
.menu-close {
cursor: pointer;
color:#333;

font-size: 26px;
}
.menu-open {
display: block;
}
.menu-close {
display: none; 
}
.ozmenu {
position: relative;
display: none;
}
.ozmenu.active {
display: block;
}
.menu-open {
display: block !important;
float: right;
}
.mobile-menu-active .menu-close {
display: block !important;
z-index: 15;
position: absolute;
right: 13px;
left: unset !important;
top: 0px;
float: left;
}
.ozmenu-nav {
display: none !important;
}
.ozmenu.active .ozmenu-nav {
display: block !important;
}
.ozmenu.active{
position: fixed;
left: 0px;
top: 0px;
margin-top: 0px !important;
width: 40%;
height: 100vh;
display: flex;
z-index: 14;
}
.ozmenu.active .ozmenu-nav{
background-color: #fff;
float: left;
margin-top: 0px;
padding: 40px 20px;
width: 100%;
height: 100vh;
overflow: hidden;
transform-origin: top center !important;
}
.ozmenu.active .ozmenu-nav, .menu-close{animation: translateX 400ms 0ms ease-in-out forwards !important;}
@keyframes translateX {
0%{opacity: 0; transform: translateX(-160px);}
80%{transform: translateX(-5px);}
100%{opacity: 1; transform: translateX(0px);}
}

.ozmenu ul.ozmenu-nav>li{float: left; width: 100%;}
.ozmenu ul.ozmenu-nav>li a{float: left; width: 100%; color: #333; padding: 10px 0px; border-bottom: 1px solid #ddd;}
.ozmenu ul.ozmenu-nav>li a:hover{float: left; width: 100%; transition: all 0.25s ease-out; color: var(--main_orange) !important; padding: 10px 0px;}
.ozmenu ul li.dropdownitem>a:hover:after{background-color: var(--main_orange) !important;}
.nav-dropdown.opened{color: var(--main_orange) !important; border-bottom: 1px solid var(--main_orange) !important;}
.ozmenu ul.ozmenu-nav>li:last-child a{
border-bottom: 0px solid #ddd;
}
.ozmenu.active ul li .nav-dropdown.opened + .dropdown ul {

float: left;
margin-left: 0px;
padding-left: 7px;
}
.ozmenu.active ul li .nav-dropdown.opened + .dropdown ul .dropdown ul {
padding-left: 15px;
}
.ozmenu.active ul li .nav-dropdown.opened + .dropdown{
display: block;
position: relative;
margin: 0;
padding: 5px 0px;
min-width: unset;
padding-top: 0px !important;
float: left;
}
.ozmenu.active ul li.dropdownitem:hover + .dropdown + .dropdown{
display: none;
}
#menu-overlay {
background-color: rgba(0,0,0,.3);
float: left;
display: none;
width: 100%;
height: 100%;
z-index: 13;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0; overflow: hidden;
}
#menu-overlay.show {
display: block !important;
}
/* .menu-open .open {
width: 40px;
height: 40px;
float: right;
transition: all 0.2s ease-out;
} */
/* .mobile-menu-active .menu-open .open, .menu-open .open:hover {
mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="40px" height="40px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-filter-square-fill" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm.5 5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1 0-1zM4 8.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm2 3a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"></path></svg>');
} */
.menu-close .close {
width: 38px;
height: 38px;
float: right;
background-color: #000;
mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="38px" height="38px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x close" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path></svg>');
mask-repeat: no-repeat;
mask-position: center;
transition: all 0.2s ease-out;
}
.menu-close .close:hover {
background-color: #000;
mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path></svg>');
}

.ozmenu.active ul li.dropdownitem>a.opened:after{
mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="12px" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>') !important;
}

}


/*------------responsive---------------*/
@media (min-width: 320px) and (max-width: 767px) {
.ozmenu.active{width: 70%;}
.ozmenu ul li.dropdownitem>a:after{margin-top: 1px;}

}

@media screen and (min-width: 1199px) {
.ozmenu ul.ozmenu-nav>li a{
color: #333 !important;
font-weight: 500;
margin: 0 28px;
border-radius: 8px;
display: inline-block;
font-size: 20px;
height: 100%;
position: relative;
}
.ozmenu ul li.dropdownitem:hover .dropdown{
display: block;
position: absolute;
margin: 0;
padding: 5px 0px;
min-width: 220px;
padding-top: 0px !important;
}
.ozmenu ul li.dropdownitem:hover > a{
border-radius: 8px 8px 0px 0px !important;
}
.ozmenu ul li.dropdownitem ul li.dropdownitem:hover > a{
border-radius: 8px !important;
}
.ozmenu ul li.dropdownitem:hover .dropdown .dropdown{
display: none;
}
.ozmenu ul li.dropdownitem .dropdown li.dropdownitem:hover .dropdown {
padding-left: 10px;
position: absolute;
margin: 0;
padding-top: 0px !important;
min-width: 200px;
display: inline-table;
top: 0 !important;
left: 100% !important;
right: auto !important;
}
.ozmenu ul li.dropdownitem .dropdown .dropdown .dropdown {
display: none !important;
visibility: hidden;
}
.ozmenu ul li.dropdownitem .dropdown ul {
box-shadow: #0000000a 0 0px 3px;
background-color: #fff;
float: left;
padding: 10px;
border-radius: 8px;
}
.ozmenu ul li.dropdownitem ul li a{
color: #333 !important;
font-weight: 400;

padding: 5px 0px;
float: left;
width: 100%;
border-radius: 0px;
font-size: 14px;
}
.ozmenu ul.ozmenu-nav .dropdown ul li a:hover {
color: #333 !important;
padding-left: 7px;
transition: all 0.15s ease-out;
}
/* Animations */
.dropdownitem .dropdown{
animation: translateDown 200ms 0ms ease-in-out forwards;
transform-origin: top center;
}
.dropdownitem .dropdownitem .dropdown {
transform-origin: top center !important;
animation: translateX 200ms 0ms ease-in-out forwards !important;
}
@keyframes translateDown {
0% {
transform: scaleY(0)
}
80% {
transform: scaleY(1.1)
}
100% {
transform: scaleY(1)
}
}
@keyframes translateX {
0% {
opacity: 0;
transform: translateX(-60px);
}
80% {
transform: translateX(-5px);
}
100% {
opacity: 1;
transform: translateX(0px);
}
}
/* Dropdown + Dropdown */
.ozmenu ul li.dropdownitem ul li .nav-dropdown:after{
width: 15px;
height: 15px;
text-align: center;
float: right;
background-color: #000;
content: "";
margin: 1px 0px 0px 3px;

mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="12px" height="12px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path></svg>');
mask-repeat: no-repeat;
mask-position: center;
}
}

@media (min-width: 1200px) and (max-width: 1600px) {

.ozmenu ul.ozmenu-nav>li a{font-size: 16px; margin: 0 24px;}
.ozmenu ul li.dropdownitem>a:after{margin-top: 5px;}

}